label {
    margin-bottom: 1rem;
    display: block;
}

input {
    width: 100%;
    height: 2rem;
    background: transparent;
    color: #fff;
    border-radius: 0.25rem;
}

.text, .email {
    display: flex;
    flex-direction: column;

    label {
        order: 1;
    }

    input {
        order: 2;
    }
}

.radio {
	input[type="radio"] {
		display: none;
	}
	label {
		display: inline-block;
		background-color: #484490;
		padding: 0.5rem 0.75rem;
		font-family: Arial;
		font-size: 1rem;
		cursor: pointer;
	}
	input[type="radio"]:checked {
		& + label {
			background-color: #bbb;
		}
	}
}
