.back.hidden {
	visibility: hidden;
}

.chevron {
    background: transparent;
    border: none;
	color: #E9A0BC;

	&:disabled {
		color: #999;
	}
}

.chevron.back {
	&::before {
		border-style: solid;
		border-width: 0.25em 0.25em 0 0;
		content: '';
		display: inline-block;
		height: 0.45em;
		left: 0;
		position: relative;
		top: 0.25em;
		transform: rotate(-135deg);
		vertical-align: top;
		width: 0.45em;
	}
}
.chevron.next {
	&::after {
		border-style: solid;
		border-width: 0.25em 0.25em 0 0;
		content: '';
		display: inline-block;
		height: 0.45em;
		left: 0;
		position: relative;
		top: 0.25em;
		transform: rotate(45deg);
		vertical-align: top;
		width: 0.45em;
	}
}
